body {
  margin: 0 auto;
  padding: 15px 0;
}
h1 {
  margin: 10px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
li {
  list-style: none;
  margin: 0 auto;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  padding: 0;
  margin: 0 auto;
}
.weather-app-wrapper {
  max-width: 540px;
  margin: 20px auto;
}
.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #808285;
  border-radius: 10px;
  padding: 20px;

  margin: 20px auto;
}
.dailyForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #ace0f9;
  padding-bottom: 40px;
}
.row {
  display: flex;
}
.dailyForecast row {
  width: 100%;
  text-align: center;
}
#city {
  font-size: 40px;
  color: #2a2a3b;
}
#date {
  font-size: 20px;
  color: #808285;
}
.temperatureDetails {
  color: #808285;
}

#temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #2a2a3b;
  margin-left: 10px;
}
.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
#searchButton {
  border-color: #808285;
}
#searchButton.hover {
  cursor: pointer;
}
#currentLocation {
  border-color: #808285;
}
#currentLocation.hover {
  cursor: pointer;
}

#contact {
  color: #808285;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
li #humidity {
  margin-top: 10px;
}
.col {
  max-width: 100%;
  flex-grow: 1;
}
.col-6 {
  max-width: 60%;
  flex: 0 0 50%;
}

.weatherDescription {
  text-align: center;
  margin: 0 auto;
  font-size: smaller;
  color: #808285;
}
.forecast-day {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808285;
}
.dailyIcon {
  width: 64px;
  height: 64px;
}
.forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  color: #808285;
  font-weight: 700;
}
.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
.forecastPreview dailyIcon {
  display: block;
  margin: 20px auto;
}
.weather-detail {
  margin-bottom: 20px;
}
