body {
  margin: 0 auto;
  padding: 15px 0;
}
h1 {
  margin: 10px 0 0 0;
}
li {
  list-style: none;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0 auto;
}

.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: sans-serif;
  border: 1px solid #808285;
  border-radius: 10px;
  padding: 10px;
  max-width: 540px;
  margin: 20px auto;
}
.weatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #ace0f9;
  padding-bottom: 20px;
}

.row {
  display: flex;
  margin: 5px 0;
}

#city {
  font-size: 40px;
  color: #2a2a3b;
}
#date {
  font-size: 25px;
  color: #808285;
}
.temperatureDetails {
  color: #808285;
}

#temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #2a2a3b;
}
.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
#searchButton {
  border-color: #808285;
}
#searchButton.hover {
  cursor: pointer;
}
#currentLocation {
  border-color: #808285;
}
#currentLocation.hover {
  cursor: pointer;
}

#contact {
  color: #808285;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.col-6 {
  max-width: 60%;
  flex: 0 0 50%;
}

.weatherDescription {
  text-align: center;
  margin: 0 auto;
  font-size: smaller;
}
.forecast-day {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808285;
}
.dailyIcon {
  width: 38px;
  height: 38px;
}
.forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  color: #808285;
  font-weight: 700;
}
.forecast-temperature-min {
  margin-left" 10px;
  opacity: .6;;
}