body {
  margin: 0 auto;
  padding: 15px 0;
}
h1 {
  margin: 10px 0 5px;
  font-size: 40px;
  font-weight: 700;
  color: #2a2a3b;
}
ul {
  margin: 5px 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 auto;
  font-size: 16px;
  color: #808285;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 540px;
  margin: 40px auto;
}
.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #808285;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.search-form {
  margin-bottom: 10px;
}
.dailyForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #ace0f9;
  padding-bottom: 20px;
}
.weather-detail {
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}

.temperatureDetails {
  color: #808285;
}
#temperature {
  font-size: 80px;
  line-height: 1;
  color: #2a2a3b;
  margin-left: 10px;
}
.units {
  position: relative;
  top: -40px;
  font-size: 14px;
}
.weather-temperature .active {
  color: #2a2a3b;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#date {
  color: #2a2a3b;
}
.weather-temperature img {
  margin-right: 10px;
}
#searchButton {
  border-color: #808285;
}
#searchButton.hover {
  cursor: pointer;
}
#currentLocation {
  border-color: #808285;
}
#currentLocation.hover {
  cursor: pointer;
}

#contact {
  color: #808285;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.forecast-date {
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #808285;
}
.dailyIcon {
  width: 60px;
  height: 60px;
}
.forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  color: #808285;
  font-weight: 700;
}
.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.5;
}
.forecastPreview dailyIcon {
  display: block;
  margin: 20px auto;
}
